.layoutTwo.bookshelf.search-page
  = render 'shared/search_panel'

  %h1 Bookshelf has been discontinued.
  %p
    You can still use
    %a{:href => '/search/'}search,
    %a{:href => '/map/'}map,
    or
    %a{:href => '/timeline/'}timeline
    to find content in the DPLA.  We're sorry for any inconvenience.
    Stay tuned to learn how DPLA is
    %a{:href => '/info/get-involved/dpla-ebooks'}improving access to ebooks.
