.layout.fullWidth
  = render 'shared/search_panel'
  %article#content{role: "main"}
    %h1 Sign in
    .account
      = render "shared/flash_message"
      = render "form"
      = render "devise/shared/links"