%form.pageSizeForm{:method => "post", :name => "pageSizeForm"}
  .itms
    %label
      = 'Items per page:'
      = select_tag 'page_size', page_size_options, class: 'countList', id: nil
/%form.sortControl
/  %label
/    = 'Sort by:'
/    = select_tag 'sort_by', sort_by_options, class: 'sortList'
.pagination
  = paginate @search.result