= render partial: 'search/sidebar/refine_by_subject'
= render partial: 'search/sidebar/refine_by_date'
= render partial: 'search/sidebar/refine_by_type'
= render partial: 'search/sidebar/refine_by_language'