- if @partners.count > 30
  .popBar
    .pagination
      .t-data-grid-pager
        - pages = (@partners.count.to_f / 30).ceil
        - (1..pages).to_a.each do |page|
          - if page == 1
            %span.current{data: {page: page}}= page
          - else
            %a{href: '#', data: {page: page}}= page