- if type_refines.present? or type_facets.present?
  .module.yellow
    %h6.open
      By Format
      %span.icon-arrow-up{"aria-hidden" => "true"}
    .slidingDiv
      - if type_refines.present?
        - type_refines.each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:type, refine, remove: true)
      - if type_facets.present?
        .locations
          %ul
            - type_facets.slice(0, 5 - type_refines.count).each do |facet|
            - name, count = facet.shift, facet.shift
              %li
                = link_to name, refine_path(:type, name)
                %span= count