- if Settings.ui.session.forms_in_popups
  .overlay
    #loginBox
      %h1 Log In
      = render "sessions/form"

      .forgotSlide
        = render "passwords/form"
      %a.forgotPassword{href: ""} Forgot password?