%div{style: "display:none;"}
  #signupBox
    #cboxClose.pclose &times;
    %h1 Sign Up
    %p Text about benefits of creating an account. Text about benefits of creating an account.
    = render "registrations/form"