- if language_refines.present? or language_facets.present?
  .module.yellow
    %h6.open By Language
    .slidingDiv
      - if language_refines.present?
        - language_refines.each do |refine|
          .refineResult
            %span= refine
            = link_to '×', refine_path(:language, refine, remove: true)
      - if language_facets.present?
        .locations
          %ul
            - language_facets.each do |name, count|
              %li
                = link_to name, refine_path(:language, name)
                %span= count