%ul
  %li
    - checkbox_data = { id:saved_search.id }
    = check_box_tag :id, nil, nil, id: nil, class: 'checkbox item', data: checkbox_data
    - term = saved_search.term.present? ? saved_search.term : '(empty query)'
    = link_to term, search_path(saved_search.to_params)
  %li.row-2
    - for key, refines in saved_search.filters
      - Array(refines).each do |refine|
        %span= refine
  %li.row-3
    %input{:type=>"hidden", :value=>saved_search.api_url, :class=>"api_url"}
    %div.count
  %li.row-4
    = link_to saved_search, method: :delete, confirm: 'Are you sure?' do
      &times;