- if @search.count > 0
  .toggle.mobile.Marticle
    Refine search
    %span.icon-arrow-thin-right{"aria-hidden" => "true"}
  .toggle.mobile.Maside
    Refine search
    %span.icon-arrow-thin-right{"aria-hidden" => "true"}