- if Settings.ui.session.forms_in_popups
  :javascript
    $(document).ready(function(){
      $('.login').colorbox({
        href: '#loginBox',
        inline:true,
        width:'100%',
        maxWidth: '600px',
        transition: 'none',
        close: '&times;',
        reposition: false
      });
      $('.signUp').colorbox({
        href: '#signupBox',
        inline:true,
        width:'100%',
        maxWidth: '600px',
        transition: 'none',
        close: '&times;',
        reposition: false
      });
    });