- unless flash[:notice].blank?
  %div{ :class => "flash flash-notice" }= flash[:notice]
- unless flash[:error].blank?
  %div{ :class => "flash flash-error" }= flash[:error]
- unless flash[:alert].blank?
  %div{ :class => "flash flash-alert" }= flash[:alert]