= semantic_navigation config: :bootstrap do |n|
  - n.item 'Home', root_path
  - n.item 'Subjects', subjects_path
  - n.item 'Collections', '#'
  - n.item 'Exhibitions', exhibitions_path
  - n.item 'Map', map_path, highlights_on: [{controller: 'map'}]
  - n.item 'Timeline', timeline_path, highlights_on: [{controller: 'timeline'}]
  - n.item 'App Library', apps_path
  - n.item 'Help', '#'