= semantic_navigation config: :bootstrap do |n|
  - n.item 'Home', root_path
  - n.item 'Subjects', '#'
  - n.item 'Collections', '#'
  - n.item 'Exhibitions', '#'
  - n.item 'Map', '#'
  - n.item 'Timeline', timeline_decades_path, highlights_on: [{controller: 'timeline'}]
  - n.item 'App Library', '#'
  - n.item 'Help', '#'