/ Control block
.controls
  #toggle
    %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
  #toggle.mobile.Marticle
    %span.icon-arrow-thin-left{"aria-hidden" => "true"} Refine
  #toggle.mobile.Maside
    Timeline
    %span.icon-arrow-thin-right{"aria-hidden" => "true"}