- aside_collapsed = params[:controller] != 'search'
.controls
  - if aside_collapsed
    #toggle
      Refine
      %span.icon-arrow-thin-right{"aria-hidden" => "true"}
    #toggle.mobile.Marticle
      Refine
      %span.icon-arrow-thin-right{"aria-hidden" => "true"}
  - else
    #toggle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"}
      Refine
    #toggle.mobile.Marticle
      %span.icon-arrow-thin-left{"aria-hidden" => "true"}
      Refine
