%ul.shareSave
  %li.btn
    = link_to "Save", saved_searches_path(params.except(:controller, :action)), method: :post
  %li.btn
    %a{:href => ""} Share
    %ul
      %li
        .sharebtn
          #fb-root
          .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
      %li
        .sharebtn
          %a.twitter-share-button{:href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      %li
        .sharebtn
          .g-plusone{"data-size" => "medium"}