- icons = Settings.widgets.social_icons
%ul.social.icons#social
  %li.facebook
    %a{href: icons.facebook}
      %span.icon-facebook{"aria-hidden" => "true"}
      %span.visuallyhidden Facebook
  %li.twitter
    %a{href: icons.twitter}
      %span.icon-twitter{"aria-hidden" => "true"}
      %span.visuallyhidden Twitter
  %li.RSS
    %a{href: icons.rss}
      %span.icon-rss{"aria-hidden" => "true"}
      %span.visuallyhidden RSS