- if wordpress_url = wordpress_path
  :javascript
    window.wordpress_url = "#{ wordpress_url }";
  #wp_news_feed
    .news
      %ul
      - if all_news_link = wordpress_path('/news/')
        =link_to 'All News »', all_news_link