- unless params[:page]
  %h2
    = number_with_delimiter @items.count, delimiter: ','
    items

= render partial: 'timeline/item', collection: @items, as: :item

- unless @items.last_page? or @items.total_pages == 0
  .pagination
    = link_to "next", params.merge(:page => @items.current_page + 1)