- page_title! t('pages.error_404.title')

.layoutTwo
  = render 'shared/search_panel'
  %h1 Page Not Found
  .searchResults.no-results
    %h4 The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.