- content_for :big_search do
  %h1.subheader
    Discover a Wealth of Knowledge
  %h5.subheader
    Search over
    %strong 70 million
    records from libraries, archives, and museums all over the country lorem ipsum dolor sit amet, consectetur adipiscing elit.
  = render partial: 'shared/search_box'

.row
  .nine.columns
    .apps.row
      .four.columns
        .panel
          %h4 Exhibitions
          .medium
          %p
            %a{href: ""}
              %strong Latest exhibit title
          %a{href: ""} Browse All &raquo;
      .four.columns
        .panel
          %h4 Explore by Place
          %a{href: ""} View Map &raquo;
      .four.columns
        .panel
          %h4 Explore by Time
          %a{href: ""} View Timeline &raquo;
    .apps.row
      .columns
        %h3 Apps
        %h5.subheader
          Explore the DPLA through many apps lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .apps.row
      .four.columns
        .panel
          %h5
            %a{href: ""} App
      .four.columns
        .panel
          %h5
            %a{href: ""} App
      .four.columns
        .panel
          %h5
            %a{href: ""} App
    .apps.row
      .four.columns
        .panel
          %h5
            %a{href: ""} App
      .four.columns
        .panel
          %h5
            %a{href: ""} App
      .four.columns
        .panel
          %h5
            %a{href: ""} App
    .row
      .twelve.columns
        %a{href: ""} More in the App Library
  .three.columns.news
    .panel
      %h4 News
      .social.right
        = image_tag "facebook.png"
        = image_tag "twitter.png"
        = image_tag "rss.png"
      %h5.subheader
        The latest developments in building the DPLA.
      %p
        %a{href: ""} Press: Toby Graham interview about the DPLA on WGAU.
        %br/
        %strong Nov 15
      %p
        %a{href: ""} Rijksmusem Launches 125,000 Image Digital Collection
        %br/
        %strong Nov 13
      %p
        %a{href: ""} All Posts &raquo;