.row
  .twelve.columns
    %ul.button-group.radius.right
      %li
        %a.button.small{:href => "#"} Share
    =render_breadcrumbs builder: BreadcrumbsBuilder
    %h2 About
.row.exhibit
  .three.columns
    = render_navigation context: :ancillary, level: 2, renderer: :ancillary
    %form
      .row.collapse
        %br/
        .ten.mobile-three.columns
          %input{:placeholder => "Search About and News", :type => "text"}/
        .two.mobile-one.columns
          %a.button.expand.postfix{:href => ""} GO
  .nine.columns
    .row
      .twelve.columns
        %h3.subheader Overview
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies libero nec velit sollicitudin eget ornare sapien eleifend. Aliquam libero risus, luctus at condimentum eu, porta non libero.
        %p Phasellus luctus, dui in lobortis volutpat, lorem leo semper nunc, convallis bibendum leo lectus at neque. Donec lorem sapien, pharetra quis venenatis a, gravida non sem. Donec in mauris neque, vitae vestibulum neque.
        %p Nullam lorem est, egestas at eleifend sit amet, pretium id nisi. Sed vulputate justo sed felis congue dignissim. Suspendisse massa est, congue at imperdiet ut, euismod sed diam. Quisque turpis felis, porttitor sed vehicula sit amet, mollis non elit. Aenean eleifend accumsan interdum.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies libero nec velit sollicitudin eget ornare sapien eleifend. Aliquam libero risus, luctus at condimentum eu, porta non libero. Phasellus luctus, dui in lobortis volutpat, lorem leo semper nunc, convallis bibendum leo lectus at neque. Donec lorem sapien, pharetra quis venenatis a, gravida non sem.
        %p Donec in mauris neque, vitae vestibulum neque. Nullam lorem est, egestas at eleifend sit amet, pretium id nisi. Sed vulputate justo sed felis congue dignissim. Suspendisse massa est, congue at imperdiet ut, euismod sed diam. Quisque turpis felis, porttitor sed vehicula sit amet, mollis non elit. Aenean eleifend accumsan interdum.
