development:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: dpla_development
  username:
  password:

test:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: dpla_test
  username:
  password:

production:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: dpla
  username:
  password:
