
test:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/test.sqlite3

development:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: dpla_development
  username:
  password:

production:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: dpla
  username:
  password:
