<h2 class="items_count">
  <span color="#000">0</span> items
</h2>

<div class="timeline_item"></div>
<div class="top_spinner" style="display:none;">
  <img src="/assets/timeline-ajax-loader.gif">
</div>

<div class="timeline_items"></div>
<div class="bottom_spinner">
  <img src="/assets/timeline-ajax-loader.gif">
</div>