<div class="bookshelf-infopanel">
  <h2>About the DPLA Bookshelf</h2>
  <p>The bookshelf is an easy way to search DPLA&rsquo;s books, serials, and journals. The darker the shade of blue, the more relevant the results. Click on a spine for details and related images. Book thickness indicates the page count, and the horizontal length reflects the book&rsquo;s actual&nbsp;height.</p>
</div>