<div class="bookshelf-infopanel">
  <h2>About the DPLA Bookshelf</h2>
  <p>The bookshelf is an easy way to search DPLA's books, serials, and journals. The darker the shade of blue, the more relevant the results. Click on a spine for details and related images. Book dimensions reflect their actual size.</p>
</div>