<div class="module yellow">
  <h6>Related Images</h6>
  <% if (collection.fetch) { %>
    <% if (collection.length) { %>
      <div class="dpla-relateds">
        <% collection.each(function(item) { %>
          <% if (item.get('object')) { %>
            <div class="dpla-related-item">
              <a href="http://dp.la/item/<%= item.get('id') %>" target="_blank" class="view-dpla-item">
                <img src="<%= item.get('object') %>" alt="<%= item.get('sourceResource').title %>" onerror="image_loading_error(this)">
                <span><%= item.get('sourceResource').title %></span>
              </a>
            </div>
          <% } %>
        <% }); %>
      </div>
    <% } else { %>
      <p>No related DPLA images found.</p>
    <% } %>
  <% } else { %>
    <p><img src="/assets/bookshelf-loading-module.gif" alt="Loading..." /></p>
  <% } %>
</div>

