/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.row {
  width: auto;
  max-width: 1200px;
}
.gray {
  color: #aaa;
}
.red {
  color: #f00;
}
.panel.darker {
  background: #ddd;
}
ul.breadcrumbs {
  display: inline-block;
}
input.no-marg-bot {
  margin-bottom: 0;
}
.thumb {
  width: 100px;
  height: 100px;
  background: #bbb;
}
.thumb.right {
  margin: 3px 0 15px 15px;
}
.medium {
  width: 100%;
  height: 100px;
  background: #bbb;
  margin-bottom: 1em;
}
.img-large {
  width: 100%;
  height: 400px;
  background: #bbb;
  margin-bottom: 1em;
}
.large-image {
  width: 400px;
  height: 300px;
  background: #bbb;
}
.large-image.left {
  margin: 3px 30px 0 0;
}
.alert-box.term {
  display: inline-block;
  width: auto;
  padding-right: 2em;
}
.big-search {
  overflow: hidden;
}
.big-search form input {
  margin-bottom: 0;
}
.big-search form .row {
  width: 60%;
  float: left;
}
.big-search form a.more {
  margin: 0.6em 0 0.6em 2em;
}
.big-search .sub-nav {
  margin: 0;
}
.big-search .sub-nav dt {
  margin-right: 1em;
}
.big-search .sub-nav dd {
  margin: 0;
}
.big-search .sub-nav dd a {
  height: 33px;
  display: inline-block;
  padding: 3px 9px;
  margin: -3px 0 0;
  min-width: 40px;
  text-align: center;
}
.big-search .sub-nav dd img {
  margin: 0 auto;
}
.space-below {
  margin-bottom: 1em;
}
.panel.big {
  width: 100%;
  min-height: 800px;
}

/* Site header */

.header .nav-bar {
  margin: 0;
}
.header .ancillary {
  margin-top: .7em;
  background: transparent;
}
.header .ancillary.user {
  margin-left: 2em;
}
.header .ancillary li {
  border: none;
}
.header .ancillary li a {
  color: #2795B6;
}
.header .ancillary li:hover {
  background-color: #fff;
}

.header .nav-bar .wide .flyout {
  width: 500px;
}
ul.login-buttons {
  margin: 1em 0 .5em 1em;
}

/* Site footer */

footer.row {
  margin-bottom: 5em;
}

/* -----------------------------------------
   Home
----------------------------------------- */

.apps .panel {
  min-height: 250px;
}
.news .social {
  margin-top: -2.7em;
}

/* -----------------------------------------
   Search Results
----------------------------------------- */
.search-options form {
  float: left;
  margin-right: 2em;
  margin-bottom: 0;
}
.search-options .panel {
  overflow: hidden;
}
.search-options select {
  width: auto;
}
.special-results .panel {
  min-height: 215px;
}
.special-results h5 {
  margin-bottom: 0;
}
.special-results ul.side-nav {
  padding: 0;
}
.count {
  float: right;
  padding: 0 4px;
  color: #aaa;
}
.reveal-modal .row ul, .reveal-modal .row ul li {
  list-style: none;
}
.refine h4 {
  margin-top: 2px;
}
.reveal-modal .count {
  float: none;
}
.sub-nav.wide dd {
  margin-right: 9px;
}
input.daterange {
  width: 60px;
  display: inline-block;
}
.daterange.month{
  width: 70px;
  display: inline-block;
}
.daterange.day{
  width: 50px;
  display: inline-block;
}
.drill {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  float: right;
  padding: 0 5px;
  line-height: 1;
}
.drill:hover {
  background: #ddd;
}
.facetlist {
  margin-bottom: 2em;
}
.facetlist > div {
  clear: both;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

/* -----------------------------------------
   Browse
----------------------------------------- */

.browse-list ul, .browse-list ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.browse-list ul li ul li {
  margin-left: 30px;
}

/* -----------------------------------------
   Timeline
----------------------------------------- */

.timebar {
  border-bottom: 1px solid #aaa;
}
.timebar.decades {
  background: url("../images/timeline-decades-bg.gif") bottom left no-repeat;
  background-size: 100% auto;
}
.timebar.years {
  background: url("../images/timeline-years-bg.gif") bottom left no-repeat;
  background-size: 100% auto;
}
.timeline.opt2 {
  background: #ddd url("../images/timeline-opt2.png") 0 30px no-repeat;
  background-size: 100% auto;
}
.decades > div {
  text-align: center;
}
.decades > div > h4 {
  margin-top: .35em;
}
.decades > div > h4, .decades > div > h5 {
  margin-left: -0.4em;
}
.years > div:last-child > h2 {
  margin-left: -1.2em;
}
.timedata > div > a {
  display: block;
  background: #fff;
  border: solid 1px #E6E6E6;
  border-top: none;
  font-weight: bold;
  padding: 1em 0 0;
  font-size: 0.8em;
}
.decades.timedata .first {
  margin-left: 4%;
}
.decades.timedata .last {
  margin-right: 4%;
}
.timedata .first a {
  height: 110px;
}
.timedata .second a {
  height: 180px;
}
.timedata .third a {
  height: 273px;
}
.timedata .fourth a {
  height: 160px;
}
.timedata .fifth a {
  height: 120px;
}
.timedata .sixth a {
  height: 320px;
}
.timedata .seventh a {
  height: 110px;
}
.timedata .eighth a {
  height: 180px;
}
.timedata .ninth a {
  height: 270px;
}
.timedata .tenth a {
  height: 180px;
}
.timedata .eleventh a {
  height: 130px;
}
.centuries.timedata .last {
  margin-right: 10%;
}
.timedata > div > a:hover {
  background: #2284A1;
  color: #fff;
}
.years.timebar {
  z-index: 3;
}
.years.timedata > div {
  background: #fff;
  border: solid 1px #E6E6E6;
  overflow: scroll;
  height: 825px;
}
.timeline {
  position: relative;
}
.timeline .arrow {
  width: 70px;
  height: 64px;
  position: absolute;
  top: 200px;
  z-index: 4;
}
.timeline .arrow.left {
  background: url("../images/timeline-arrows.png") top left no-repeat;
  left: 0;
}
.timeline .arrow.right {
  background: url("../images/timeline-arrows.png") top right no-repeat;
  right: 0;
}
.timeline .arrow.off {
  opacity: 0.2;
}
.mini {
  position: relative;
  background: #fff;
  margin-bottom: 2em;
}
.mini img {
  width: 100%;
}
.mini .scrubber {
  position: relative;
  margin-top: -60px;
  left: 96%;
  width: 1.6%;
  height: 60px;
  border: 4px solid #000;
  background: rgba(0, 0, 0, 0.2);
}
.mini .scrubber .pointer {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  bottom: -11px;
  left: -4px;
}
.mini .scrubber.wide {
  left: 88.5%;
  width: 11.5%;
}
.mini .scrubber.medium {
  left: 96%;
  width: 3%;
}
.mini .scrubber.wide .pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
  position: absolute;
  bottom: -20px;
  left: 25%;
}
.mini .scrubber.medium .pointer {
  left: 10%;
}
.year h2 {
  background: #F2F2F2;
  margin-top: 0;
  width: auto;
}
.mini.cropped {
  height: 22px;
  overflow: hidden;
}

/* -----------------------------------------
   Map
----------------------------------------- */

.map-us {
  background: #F2F2F2 url("../images/map-us.jpg") top left no-repeat;
  position: relative;
}
.map-boston {
  background: #F2F2F2 url("../images/map-boston.jpg") top left no-repeat;
  position: relative;
}
.map-boston .pin {
  position: absolute;
}
.map-boston .pin a {
  display: block;
  width: 16px;
  height: 16px;
  background: #000;
  -webkit-border-radius: 8px;
  border: 2px solid #fff;
    border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.map-boston .pin a.big {
  width: 32px;
  height: 32px;
  background: #000;
  -webkit-border-radius: 16px;
  border: 4px solid #fff;
    border-radius: 16px;
}
.map-boston .pin a:hover, .map-boston .pin.six a.on {
  background: #2BA6CB;
}
.map-boston .pin.one {
  left: 150px;
  top: 150px;
}
.map-boston .pin.two {
  left: 200px;
  top: 200px;
}
.map-boston .pin.three {
  left: 360px;
  top: 400px;
}
.map-boston .pin.four {
  left: 240px;
  top: 580px;
}
.map-boston .pin.five {
  left: 410px;
  top: 320px;
}
.map-boston .pin.six {
  left: 397px;
  top: 390px;
}
.map-boston .pin.seven {
  left: 490px;
  top: 460px;
}
.map-boston .pin.eight {
  left: 379px;
  top: 498px;
}
.map-boston .pin.nine {
  left: 399px;
  top: 145px;
}
.map-boston .pin.ten {
  left: 290px;
  top: 556px;
}
.map-boston .popup, .timeline .popup {
  width: 400px;
  height: 320px;
  background: #fff;
  position: relative;
  left: 192px;
  top: 20px;
  padding: 20px;
  display: none;
}
.timeline .popup {
  left: 187px;
  top: 200px;
}
.map-boston .popup .inner, .timeline .popup .inner {
  overflow: scroll;
  height: 220px;
}
.map-boston .popup.on, .timeline .popup.on {
  display: block;
}
.map-boston .popup .pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 180px;
}
.timeline .popup .pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  position: absolute;
  top: -20px;
  left: 180px;
}
.popup.open {
  display: block;
}
.map-boston .zoom, .map-us .zoom {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 100px;
  background: #fff url("../images/map-zoom.png") top left no-repeat;
}
.map-boston .updating {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #000;
}
.map-boston .maptip {
  position: absolute;
  left: 20px;
  top: 100px;
}

/* -----------------------------------------
   Exhibitions
----------------------------------------- */

.exhibit .medium {
  height: 200px;
}
.exhibit h3 {
  margin-top: 0;
}
.exhibit .tiny-thumb {
  width: 50px;
  height: 50px;
  background: #bbb;
  margin: 0 10px 0 0;
  display: inline-block;
}
.nav-bar li ul li.active a {
  background: #2BA6CB;
  border-color: #2284A1;
}

/* -----------------------------------------
   Profile
----------------------------------------- */

.narrowform {
  width: 500px;
}
.yourlists .count {
  margin-right: 1em;
}
.yourcontent h4 {
  margin-top: 0;
}
.alert-box.secondary.dark {
  background: #ccc;
}
.edit.right {
  margin-right: 1em;
}

