@import "leaflet";
@import "leaflet.ie";
@import "leaflet.markercluster";
@import "leaflet.markercluster.default";
@import "leaflet.markercluster.default.ie";

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-in;
  -moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
  -o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
  transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: 0;
  border: 0;
}

.leaflet-popup-content-wrapper {
  zoom: 1;
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1;
}

.leaflet-container {
  font: 0.938em/1.4em 'source_sans_proregular', arial, sans-serif;
  a {
    color: #dd4e00;

    &.leaflet-popup-close-button {
      position: absolute;
      right: 12px;
      top: 6px;
      font-size: 1.3em;
    };
  }
}

.leaflet-popup-tip {
  background: url("asset_path('map-arrow.png')") no-repeat scroll 0px 0px transparent;
  bottom: -28px;
  height: 31px;
  left: 42%;
  position: absolute;
  width: 56px;
}

.mapBox .box-rows {
  height: 220px;
  overflow: auto;
}

#map {
  height: 800px;

  .closePopUp {
    margin-top: 6px;
    z-index: 10;
  }
}

#loading { display: none; }