.layout.fullWidth
  = render 'shared/search_panel'

  %article#content{role: 'main'}
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        = render partial: 'aside'
        .rightSide
          .list-detail
            %h2 All Items
          - if @items.present?
            #resultsBarTop.resultsBar
          - else
            %p No Saved Searches