.layout.fullWidth
  = render 'shared/search_panel'

  %article
    %h1 Your Profile
    .profile
      = render partial: 'shared/profile/tabs'
      .tab-content
        %h1 New Saved List
        .account
          = render partial: 'form'