.row
  .twelve.columns
    %p
      Your search for
      %strong= params[:q]
      returned 0 results. Try one of the following tips to search again:
    %ul.disc
      %li Check the spelling of your search term(s)
      %li Search for another term(s)