%form#pageSizeForm{:method => "post", :name => "pageSizeForm"}
  .items
    %label{:for => "pageSize"} Items per page:
    %select.countList{:name => "pageSize"}
      %option{:selected => "selected", :value => "10"} 10
      %option{:value => "20"} 20
      %option{:value => "50"} 50
      %option{:value => "100"} 100
%form.sortControl
  %label{:for => "sortBy"} Sort by:
  %select#sortBy.sortList{:name => "sortBy"}
    %option{:selected => "selected"} Relevance
    %option Title - A to Z
    %option Title - Z to A
    %option Author/Editor - A to Z
    %option Author/Editor - Z to A
    %option Print Publication Date - Old to Recent
    %option Print Publication Date - Recent to Old
    %option Online Publication Date - Old to Recent
    %option Online Publication Date - Recent to Old
.pagination
  = paginate @search.results