%aside
  %h5 Refine
  .module.yellow
    %h6.open By Subject
    .slidingDiv
      .locations
        %ul
          %li
            %a{:href => ""} Subject 1
            %span 98
          %li
            %a{:href => ""} Subject 2
            %span 72
          %li
            %a{:href => ""} Subject 3
            %span 45
          %li
            %a{:href => ""} Subject 4
            %span 41
          %li
            %a{:href => ""} Subject 5
            %span 38
    .more
      %a.inline.cboxElement{:href => "#inline_content"} More »
  .module.yellow
    %h6.open By Location
    .slidingDiv
      .refineResult
        %span America
        %a{:href => ""} &times;
      .locations
        %ul
          %li
            %a{:href => ""} Location 2
            %span 72
          %li
            %a{:href => ""} Location 3
            %span 45
          %li
            %a{:href => ""} Location 4
            %span 41
          %li
            %a{:href => ""} Location 5
            %span 38
    .more
      %a.inline.cboxElement{:href => "#inline_content"} More »
  .module.yellow
    %h6.open By Date
    .slidingDiv
      %form.moduleForm
        .formRow
          %label From
          %select{:name => "month"}
            %option{:value => "month"} Month
            %option{:value => "month"} 2
            %option{:value => "month"} 3
            %option{:value => "month"} 4
          %select.day{:name => "day"}
            %option{:value => "day"} Day
            %option{:value => "day"} 2
            %option{:value => "day"} 3
            %option{:value => "day"} 4
          %input{:name => "year", :placeholder => "Year", :type => "text"}/
        .formRow
          %label To
          %select{:name => "month"}
            %option{:value => "month"} Month
            %option{:value => "month"} 2
            %option{:value => "month"} 3
            %option{:value => "month"} 4
          %select.day{:name => "day"}
            %option{:value => "day"} Day
            %option{:value => "day"} 2
            %option{:value => "day"} 3
            %option{:value => "day"} 4
          %input{:name => "year", :placeholder => "Year", :type => "text"}/
      %a.btn.blue{:href => ""} Update
  .module.yellow
    %h6.open By Format
    .slidingDiv
      .locations
        %ul
          %li
            %a{:href => ""} Texts
            %span 72
          %li
            %a{:href => ""} Images
            %span 45
          %li
            %a{:href => ""} Videos
            %span 41
          %li
            %a{:href => ""} Sounds
            %span 38
  .module.yellow
    %h6.open By Language
    .slidingDiv
      .locations
        %ul
          %li
            %a{:href => ""} English
            %span 11245
          %li
            %a{:href => ""} French
            %span 788
          %li
            %a{:href => ""} German
            %span 156
          %li
            %a{:href => ""} Italian
            %span 102
          %li
            %a{:href => ""} Spanish
            %span 99
    .more
      %a.inline.cboxElement{:href => "#inline_content"} More »