%h4 Refine
- if @items.facets[:'subject.name'].present?
  %ul.accordion
    %li.active
      .title By Subject
      .content
        - @items.facets[:'subject.name'].each do |name, count|
          = link_to name
          %span.count= count
          %br

