%ul.tabs
  %li{ class: 'registrations' == params[:controller] ? 'active' : nil}
    = link_to 'Your account', edit_user_registration_path
  %li{ class: 'saved_lists' == params[:controller] ? 'active' : nil}
    = link_to 'Saved Items & Lists', saved_lists_path
  %li{ class: 'saved_searches' == params[:controller] ? 'active' : nil}
    = link_to 'Saved Searches', saved_searches_path