.layoutTwo.map
  = render 'shared/search_panel'

  %h1 Map
  = render 'shared/results/search_results', query: params[:q], search: @search
  = render 'shared/refine_control'

  %article
    .mapContainer
      .mobile-hover
      .mapFrame
        #mapT.mapT

  = render 'shared/sidebar'